.rotate-box {
  width: 100px;
  height: 100px;
  font-size: 40px;
  background: #28a745;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}