.slide-diagonal-box-2 {
  width: 300px;
  height: 150px;
  border: 2px solid #ccc;
  background-color: rgb(67, 243, 243);
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.slide-diagonal-2 {
  position: absolute;
  bottom: -100%;
  right: -100%;
  padding: 8px 12px;
  font-weight: bold;
  transition: bottom 0.4s ease, right 0.4s ease;
}

.slide-diagonal-box-2:hover .slide-diagonal-2 {
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}