.fade-load {
  opacity: 0;
  animation: fadeIn 0.8s ease-in forwards;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border: 1px solid #aaa;
  padding: 40px;
  margin-bottom: 30px;
}

/* Keyframe */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}